# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
__MACOSX/

# IDE
.idea/

# MkDocs
docs/CHANGELOG.md
build/

# Plugins, QGIS-plugin-CI
mercicor.*.zip
plugins.xml

# Temp files
*~
*.bak

# Geopackage
*.gpkg-shm
*.gpkg-wal

# Tests
output_*.gpkg
data/
