# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
__MACOSX/

# IDE
.idea/

# MkDocs
docs/CHANGELOG.md
docs/CONTRIBUTING.md
build/

# Plugins, QGIS-plugin-CI
mercicor.*.zip
plugins.xml

# Temp files
*~
*.bak

# Geopackage
*.gpkg-shm
*.gpkg-wal

# Tests
output_*.gpkg
data/
mercicor/tests/data/output
mercicor/resources/qml/auto_generated/*.qml
